@{
    ViewData["Title"] = "Error 401";
}

<div class="text-center">
    <h1 class="text-danger">Error 401</h1>
    <h1>Unauthorized!</h1>
    <h2>Hey there, you're not allowed to do that!</h2>
    <img src="~/images/error_page_images/unauthorized.png" width="600" height="600" />
    <br />
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
</div>
