@using System.Globalization;
@model IEnumerable<CompositionAllViewModel>
@{
    ViewData["Title"] = "Works";
}

<div class="container-fluid">
    @foreach (CompositionAllViewModel composition in Model)
    {
        <partial name="_CompositionAllPartial" model="@composition"></partial>
    }
</div>