@model CompositionFormModel
@{
    ViewData["Title"] = "Write your own piece";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <partial name="_CompositionFormPartial" model="@Model"></partial>

            <div class="justify-content-center">
                <input class="btn btn-primary mt-3 btn-primary" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        var simplemde = new SimpleMDE({
            element: document.getElementById("content-textarea"),
            autosave: {
                enabled: true,
                uniqueId: "Draft_Create",
                delay: 1000,
            },
            status: ["autosave", "lines", "words"]
        });
    </script>
}
