@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="text-danger">Error</h1>
    <h2>An error occurred while processing your request.</h2>
    <br />
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
</div>
