@{
    ViewData["Title"] = "Select area";
}

<div class="text-center">
    <h1>Welcome, @User?.Identity?.Name!</h1>
    <br />
    <h1>Select area:</h1>
    <div class="container">
        <a class="btn-lg btn-warning" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
    </div>
    <div class="container" style="margin-top: 2rem">
        <a class="btn-lg btn-success" asp-controller="Home" asp-action="Index">User</a>
    </div>
</div>
