html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main-gradient {
    background: linear-gradient(#42c19a, #bd6bc0);
}

.genre-item {
    list-style-type: '📖';
    padding-inline-start: 1ch;
}

/* Overrides the default SimpleMDE status bar color to black (for better readability) */

.editor-statusbar {
    padding: 8px 10px;
    font-size: 12px;
    color: black !important;
    text-align: right;
}