html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-gradient {
    background: linear-gradient(#42c19a, #88BBE4);
}

.main-layout {
    background: #88BBE4;
}

.footer-gradient {
    background: linear-gradient(#88BBE4, #42c19a);
}

.admin-navbar-gradient {
    background: linear-gradient(#93C8BE, #A7C0CF);
}

.admin-layout {
    background: #93C8BE
}

.admin-footer-gradient {
    background: linear-gradient(#A7C0CF, #93C8BE);
}

.genre-item {
    list-style-type: '📖';
    padding-inline-start: 1ch;
}

/* Overrides the default SimpleMDE status bar color to black (for better readability) */

.editor-statusbar {
    padding: 8px 10px;
    font-size: 12px;
    color: black !important;
    text-align: right;
}