@model IEnumerable<CommentCompositionViewModel>

@foreach (CommentCompositionViewModel comment in Model)
{
    <div class="row">
        <div class="container">
            <div class="card text-bg-primary">
                <div class="card-body">
                    <div class="col">
                        <img class="rounded-circle me-1" src="@comment?.Author?.ProfilePictureUrl" alt="Image not found :(" height="30" width="30" />
                    </div>
                    <h5 class="card-title">
                        <a asp-controller="User" asp-action="Profile" asp-route-userId="@comment?.Author?.Id" style="text-decoration: none">
                            ($"@{@comment?.Author?.Username}")
                        </a>
                    </h5>
                    <p class="card-text">@comment?.Content</p>
                    <div class="card-footer">
                        <p class="card-text">Posted on: @comment?.PublishedOn.ToString()</p>
                        <a class="card-link" asp-controller="Comment" asp-action="Read" asp-route-commentId="@comment?.Id" style="text-decoration: none">
                            @comment?.Likes likes
                        </a>
                        <a class="card-link" asp-controller="Comment" asp-action="Read" asp-route-commentId="@comment?.Id" style="text-decoration: none">
                            @comment?.Replies replies
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}