@model IEnumerable<AllGenreViewModel>
@{
    ViewData["Title"] = "Genres";
}

<h1 class="text-center">Genres</h1>

<ul>
    @foreach (AllGenreViewModel genre in Model.OrderBy(g => g.Name))
    {
        <li class="genre-item"><a asp-controller="Composition" asp-action="All" asp-route-genreid="@genre.Id" style="text-decoration: none; color:crimson">@genre.Name (@genre.CompositionCount)</a></li>
    }
</ul>